.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 10px;
}

.profile-form {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-color-2);
    box-shadow: 0 8px 16px var(--shadow);
    width: 100%;
    max-width: 400px;
}

.profile-form h3 {
    margin: 10px;
    font-weight: 500;
    text-align: center;
}

.profile-group {
    margin: 15px 0;
}

.avatar i {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 15px 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

