.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.signin-form {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-color-2);
    box-shadow: 0 8px 16px var(--shadow);
    width: 100%;
    max-width: 400px;
}

.signin-form h2 {
    margin: 20px;
    font-weight: 700;
    text-align: center;
}

.signin-group {
    margin-top: 15px;
}